body {
    background-color: white !important;
}

.edit-form {
    margin-top: 3vh;
}

.username {
    margin-top: 4vh;
}

.logout-btn {
    margin-top: 2vh;
}

.nav-item {
    margin-left: 1vw;
    margin-right: 1vw;
}