body {
    background-color: white !important;
}

#main {
    padding-bottom: 50px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.edit-form {
    margin-top: 3vh;
}

.username {
    margin-top: 4vh;
}

.login-btn,
.logout-btn {
    margin-top: 2vh;
}

.nav-item {
    margin-left: 1vw;
    margin-right: 1vw;
}

#delete-btn {
    width: 100%;
    margin-top: .5vh;
    margin-bottom: .5vh;
}

#delete-btn:hover {
    font-weight: bold;
    background-color: white;
    color: black;
}