body {
    background-color: white !important;
}

#main {
    padding-bottom: 35px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
}

.username {
    margin-top: 4vh;
}

.login-btn,
.logout-btn {
    margin-top: 2vh;
}

.nav-item {
    margin-left: 1vw;
    margin-right: 1vw;
}

.title {
    margin-bottom: 2vh;
}

.nav-link:hover {
    font-weight: bold;
}

.btn-outline-dark:hover {
    background-color: white;
    font-weight: bold;
    color: black;
}

.update-form {
    width: 30vw;
}